:root {
  --comp-tag-mini-height: 18px;
  --comp-tag-mini-padding-right: 2px;
  --comp-tag-mini-padding-left: 2px;
  --comp-tag-closable-padding-right: 2px;
  --comp-tabs-tab-header-gap: 8px;
  --comp-tabs-tab-content-gap: 4px;
  --comp-tabs-tab-min-height: 48px;
  --comp-snackbar-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.08);
  --comp-snackbar-width: 420px;
  --comp-select-shadow: 0px 4px 6px -2px rgba(52, 69, 99, 0.15), 0px 4px 25px -2px rgba(52, 69, 99, 0.15);
  --comp-select-two-line-height: unset;
  --comp-label-closable-padding-right: 2px;
  --comp-text-area-height: 80px;
  --comp-text-area-width-default: 256px;
  --comp-input-height: 36px;
  --comp-input-width-default: 256px;
  --comp-dot-stepper-dot-inactive-border-width: 2px;
  --comp-dot-stepper-dot-size: 12px;
  --comp-counter-border-radius: 2px;
  --comp-close-button-active-background: #34456333;
  --comp-close-button-hover-background: #3445631A;
  --comp-close-button-size: 20px;
  --comp-badge-padding-right: 2px;
  --comp-badge-padding-left: 2px;
  --comp-action-dropdown-box-shadow: 0px 4px 25px -2px rgba(52, 69, 99, 0.15), 0px 4px 6px -2px rgba(52, 69, 99, 0.15);
  --sys-icon-button-height: 36px;
  --sys-icon-button-width: 36px;
  --sys-icon-button-padding: 8px;
  --sys-button-height: 40px;
  --sys-settings-content-max-width-lg: 1200px;
  --sys-settings-content-max-width-md: 700px;
  --sys-icon-css-xxxl: 64px;
  --sys-icon-css-xxl: 48px;
  --sys-icon-css-xl: 40px;
  --sys-icon-css-lg: 32px;
  --sys-icon-css-md: 24px;
  --sys-icon-css-mini-sm: 18px;
  --sys-icon-css-sm: 16px;
  --sys-icon-css-xs: 12px;
  --sys-icon-css-nano: 10px;
  --sys-icon-css-xxs: 8px;
  --ref-transition-duration: 250ms;
  --ref-spacing-xxxl: 60px;
  --ref-spacing-xxl: 48px;
  --ref-spacing-xl: 40px;
  --ref-spacing-lg: 32px;
  --ref-spacing-md: 24px;
  --ref-spacing-sm: 16px;
  --ref-spacing-xs: 12px;
  --ref-spacing-xxs: 8px;
  --ref-spacing-xxxs: 4px;
  --ref-font-line-height-xxl: 36px;
  --ref-font-line-height-xl: 32px;
  --ref-font-line-height-lg: 24px;
  --ref-font-line-height-md: 20px;
  --ref-font-line-height-sm: 18px;
  --ref-font-line-height-xs: 16px;
  --ref-font-line-height-xxs: 14px;
  --ref-font-weight-black: 900;
  --ref-font-weight-extra-bold: 800;
  --ref-font-weight-bold: 700;
  --ref-font-weight-regular: 400;
  --ref-font-size-xxxl: 28px;
  --ref-font-size-xxl: 24px;
  --ref-font-size-xl: 20px;
  --ref-font-size-lg: 18px;
  --ref-font-size-md: 16px;
  --ref-font-size-sm: 14px;
  --ref-font-size-xs: 12px;
  --ref-font-family: Averta;
  --ref-color-reddit-100: #FF4500;
  --ref-color-pinterest-100: #E60023;
  --ref-color-pinterest-10: #fee5e5;
  --ref-color-tiktok-red-100: #FE2C55;
  --ref-color-tiktok-red-10: #fee9ee;
  --ref-color-tiktok-blue-100: #25F4EE;
  --ref-color-tiktok-blue-10: #e9fdfd;
  --ref-color-tiktok-default-100: #000000;
  --ref-color-tiktok-default-10: #e5e5e5;
  --ref-color-youtube-100: #FE0101;
  --ref-color-youtube-10: #fee5e5;
  --ref-color-linkedin-100: #2668B2;
  --ref-color-linkedin-10: #e6eff9;
  --ref-color-x-100: #000000;
  --ref-color-bluesky-100: #1185FE;
  --ref-color-bluesky-10: #E7F3FF;
  --ref-color-threads-100: #000000;
  --ref-color-threads-10: #e8f5fd;
  --ref-color-google-my-business-100: #2668B2;
  --ref-color-google-my-business-10: #E9F0F7;
  --ref-color-twitter-100: #1DA1F2;
  --ref-color-twitter-10: #e8f5fd;
  --ref-color-instagram-100: #DD2A7B;
  --ref-color-instagram-10: #fbe9f1;
  --ref-color-facebook-100: #0866FF;
  --ref-color-facebook-10: #e7f1fd;
  --ref-color-web-100: #1F1F1F;
  --ref-color-data-emerald-100: #12A87A;
  --ref-color-data-lime-100: #42B85A;
  --ref-color-data-sun-100: #D98800;
  --ref-color-data-tangerine-100: #DC6A30;
  --ref-color-data-cherry-100: #CC5040;
  --ref-color-data-peony-100: #CC2878;
  --ref-color-data-iris-100: #8A62CC;
  --ref-color-data-sky-100: #3A92E8;
  --ref-color-data-navy-100: #4A6ACC;
  --ref-color-data-cyan-100: #12AABA;
  --ref-color-menthol-150: #057E7A;
  --ref-color-menthol-100: #0FA09B;
  --ref-color-menthol-80: #1DBEB0;
  --ref-color-menthol-60: #64C8BC;
  --ref-color-menthol-40: #9FD9D6;
  --ref-color-menthol-20: #CFECEA;
  --ref-color-menthol-10: #F1F9F8;
  --ref-color-mermaid-gradient-background: linear-gradient(90deg, #578FFF 0%, #DF52FF 100%);
  --ref-color-mermaid-gradient-to40: rgba(223, 82, 255, 0.4);
  --ref-color-mermaid-gradient-from40: rgba(87, 143, 255, 0.4);
  --ref-color-mermaid-gradient-to: #DF52FF;
  --ref-color-mermaid-gradient-from: #578FFF;
  --ref-color-mermaid-20: #EBE3FF;
  --ref-color-mermaid-10: #F5F1FF;
  --ref-color-purple-05: #F6F8FF;
  --ref-color-purple-150: #3C2C95;
  --ref-color-purple-100: #6554C0;
  --ref-color-purple-80: #7C6DC9;
  --ref-color-purple-60: #A398D9;
  --ref-color-purple-40: #C1BBE6;
  --ref-color-purple-20: #E0DDF2;
  --ref-color-purple-10: #EFEDF8;
  --ref-color-red-150: #D80505;
  --ref-color-red-100: #E81313;
  --ref-color-red-80: #EB3636;
  --ref-color-red-60: #F17171;
  --ref-color-red-40: #F6A1A1;
  --ref-color-red-20: #FAD0D0;
  --ref-color-red-10: #FDE7E7;
  --ref-color-yellow-150: #A56608;
  --ref-color-yellow-100: #FFE91F;
  --ref-color-yellow-80: #FFEC41;
  --ref-color-yellow-60: #FFF279;
  --ref-color-yellow-40: #FFF6A5;
  --ref-color-yellow-20: #FFFBD2;
  --ref-color-yellow-10: #FFFDE9;
  --ref-color-tag-orange-150: #A66200;
  --ref-color-tag-orange-100: #FBB500;
  --ref-color-tag-orange-80: #FCC026;
  --ref-color-tag-orange-60: #FDD366;
  --ref-color-tag-orange-40: #FDE199;
  --ref-color-tag-orange-20: #FEF0CC;
  --ref-color-tag-orange-10: #FFF8E6;
  --ref-color-green-150: #0F821D;
  --ref-color-green-100: #45B854;
  --ref-color-green-80: #61C26D;
  --ref-color-green-60: #8FD498;
  --ref-color-green-40: #B5E3BB;
  --ref-color-green-20: #DAF1DD;
  --ref-color-green-10: #ECF7ED;
  --ref-color-grey-bg: #F9F9FA;
  --ref-color-grey-05: #F5F5F7;
  --ref-color-grey-150: #212E44;
  --ref-color-grey-100: #344563;
  --ref-color-grey-80: #5D6A82;
  --ref-color-grey-60: #858FA1;
  --ref-color-grey-40: #AEB5C1;
  --ref-color-grey-20: #D6DAE0;
  --ref-color-grey-10: #EAECEF;
  --ref-color-soft-blue-150: #2873BA;
  --ref-color-soft-blue-100: #61A4E4;
  --ref-color-soft-blue-80: #78B1E8;
  --ref-color-soft-blue-60: #A0C8EF;
  --ref-color-soft-blue-40: #C0DBF4;
  --ref-color-soft-blue-20: #DFEDFA;
  --ref-color-soft-blue-10: #EFF5FC;
  --ref-color-electric-blue-05: #F3F9FF;
  --ref-color-electric-blue-150: #0E72D6;
  --ref-color-electric-blue-100: #178DFE;
  --ref-color-electric-blue-80: #3A9EFE;
  --ref-color-electric-blue-60: #74BBFE;
  --ref-color-electric-blue-40: #A2D1FF;
  --ref-color-electric-blue-20: #D1E8FF;
  --ref-color-electric-blue-10: #E8F4FF;
  --ref-color-orange-150: #C83E07;
  --ref-color-orange-100: #FF6726;
  --ref-color-orange-80: #FF7E46;
  --ref-color-orange-60: #FFA47D;
  --ref-color-orange-40: #FFC2A8;
  --ref-color-orange-20: #FFE1D4;
  --ref-color-orange-10: #FFEFE9;
  --ref-color-background: #F9F9FA;
  --ref-color-white: #FFFFFF;
  --ref-border-radius-md: 8px;
  --ref-border-radius-sm: 4px;
  --ref-animation-xshort: 75ms;
  --ref-animation-short: 150ms;
  --ref-animation-normal: 250ms;
  --ref-animation-long: 400ms;
  --comp-tooltip-text-color-main-default-bg: var(--ref-color-grey-100);
  --comp-tag-red-icon-color: var(--ref-color-red-150);
  --comp-tag-red-border-color: var(--ref-color-red-20);
  --comp-tag-red-background-color: var(--ref-color-red-10);
  --comp-tag-red-text-color: var(--ref-color-red-150);
  --comp-tag-green-icon-color: var(--ref-color-green-150);
  --comp-tag-green-border-color: var(--ref-color-green-20);
  --comp-tag-green-background-color: var(--ref-color-green-10);
  --comp-tag-green-text-color: var(--ref-color-green-150);
  --comp-tag-grey-icon-color: var(--ref-color-grey-150);
  --comp-tag-grey-border-color: var(--ref-color-grey-20);
  --comp-tag-grey-background-color: var(--ref-color-grey-10);
  --comp-tag-grey-text-color: var(--ref-color-grey-100);
  --comp-tag-menthol-icon-color: var(--ref-color-menthol-150);
  --comp-tag-menthol-border-color: var(--ref-color-menthol-20);
  --comp-tag-menthol-background-color: var(--ref-color-menthol-10);
  --comp-tag-menthol-text-color: var(--ref-color-menthol-150);
  --comp-tag-tag-orange-icon-color: var(--ref-color-tag-orange-150);
  --comp-tag-tag-orange-border-color: var(--ref-color-tag-orange-20);
  --comp-tag-tag-orange-background-color: var(--ref-color-tag-orange-10);
  --comp-tag-tag-orange-text-color: var(--ref-color-tag-orange-150);
  --comp-tag-blue-icon-color: var(--ref-color-electric-blue-150);
  --comp-tag-blue-border-color: var(--ref-color-electric-blue-20);
  --comp-tag-blue-background-color: var(--ref-color-electric-blue-10);
  --comp-tag-blue-text-color: var(--ref-color-electric-blue-150);
  --comp-tag-padding-right: var(--ref-spacing-xxxs);
  --comp-tag-padding-left: var(--ref-spacing-xxxs);
  --comp-tag-height: var(--ref-spacing-md);
  --comp-tag-spacing: var(--ref-spacing-xxxs);
  --comp-tag-border-radius: var(--ref-spacing-xxxs);
  --comp-tabs-tab-feature-locked-active-background-color: var(--ref-color-purple-20);
  --comp-tabs-tab-feature-locked-focus-background-color: var(--ref-color-purple-10);
  --comp-tabs-tab-feature-locked-hover-background-color: var(--ref-color-purple-10);
  --comp-tabs-tab-feature-locked-indicator-color: var(--ref-color-purple-100);
  --comp-tabs-tab-feature-lock-color: var(--ref-color-purple-100);
  --comp-tabs-tab-active-background-color: var(--ref-color-electric-blue-20);
  --comp-tabs-tab-active-indicator-color: var(--ref-color-electric-blue-150);
  --comp-tabs-tab-hover-background-color: var(--ref-color-electric-blue-10);
  --comp-tabs-tab-focus-background-color: var(--ref-color-electric-blue-10);
  --comp-tabs-tab-focus-color: var(--ref-color-electric-blue-150);
  --comp-tabs-tab-text-color-feature-locked-active: var(--ref-color-purple-100);
  --comp-tabs-tab-text-color-feature-locked-focus: var(--ref-color-purple-100);
  --comp-tabs-tab-text-color-disabled: var(--ref-color-grey-60);
  --comp-tabs-tab-text-color-active: var(--ref-color-electric-blue-150);
  --comp-tabs-tab-text-color-default: var(--ref-color-grey-100);
  --comp-tabs-tab-padding: var(--ref-spacing-xs) var(--ref-spacing-sm);
  --comp-tabs-border-color: var(--ref-color-grey-10);
  --comp-tabs-text-font-family: var(--ref-font-family);
  --comp-status-grey-dot-background-color: var(--ref-color-grey-100);
  --comp-status-grey-background-color: var(--ref-color-grey-10);
  --comp-status-orange-dot-background-color: var(--ref-color-orange-100);
  --comp-status-orange-background-color: var(--ref-color-orange-10);
  --comp-status-blue-dot-background-color: var(--ref-color-electric-blue-100);
  --comp-status-blue-background-color: var(--ref-color-electric-blue-10);
  --comp-status-red-dot-background-color: var(--ref-color-red-100);
  --comp-status-red-background-color: var(--ref-color-red-10);
  --comp-status-tag-orange-dot-background-color: var(--ref-color-tag-orange-150);
  --comp-status-tag-orange-background-color: var(--ref-color-tag-orange-10);
  --comp-status-green-dot-background-color: var(--ref-color-green-100);
  --comp-status-green-background-color: var(--ref-color-green-10);
  --comp-status-color: var(--ref-color-grey-100);
  --comp-status-spacing: var(--ref-spacing-xxxs);
  --comp-status-height: var(--ref-spacing-md);
  --comp-status-padding-horizontal: var(--ref-spacing-xxs);
  --comp-status-card-grey-border-color: var(--ref-color-grey-20);
  --comp-status-card-grey-background-color: var(--ref-color-grey-05);
  --comp-status-card-grey-icon-color: var(--ref-color-grey-100);
  --comp-status-card-orange-border-color: var(--ref-color-orange-40);
  --comp-status-card-orange-background-color: var(--ref-color-orange-20);
  --comp-status-card-orange-icon-color: var(--ref-color-orange-150);
  --comp-status-card-red-border-color: var(--ref-color-red-40);
  --comp-status-card-red-background-color: var(--ref-color-red-20);
  --comp-status-card-red-icon-color: var(--ref-color-red-150);
  --comp-status-card-blue-border-color: var(--ref-color-electric-blue-40);
  --comp-status-card-blue-background-color: var(--ref-color-electric-blue-20);
  --comp-status-card-blue-icon-color: var(--ref-color-electric-blue-150);
  --comp-status-card-tag-orange-border-color: var(--ref-color-tag-orange-40);
  --comp-status-card-tag-orange-background-color: var(--ref-color-tag-orange-20);
  --comp-status-card-tag-orange-icon-color: var(--ref-color-tag-orange-150);
  --comp-status-card-green-border-color: var(--ref-color-green-40);
  --comp-status-card-green-background-color: var(--ref-color-green-20);
  --comp-status-card-green-icon-color: var(--ref-color-green-150);
  --comp-status-card-padding-horizontal: var(--ref-spacing-xxs);
  --comp-status-card-padding-vertical: var(--ref-spacing-xs);
  --comp-status-card-content-spacing: var(--ref-spacing-xxxs);
  --comp-status-card-spacing-horizontal: var(--ref-spacing-xxs);
  --comp-status-card-spacing-vertical: var(--ref-spacing-xxs);
  --comp-status-card-caption-text-color: var(--ref-color-grey-80);
  --comp-status-card-text-color: var(--ref-color-grey-100);
  --comp-split-button-spacing: var(--ref-spacing-xxs);
  --comp-split-button-padding-vertical: var(--ref-spacing-sm);
  --comp-split-button-padding-horizontal: var(--ref-spacing-xxs);
  --comp-snackbar-error-icon-color: var(--ref-color-red-150);
  --comp-snackbar-error-background-color: var(--ref-color-red-20);
  --comp-snackbar-success-icon-color: var(--ref-color-green-150);
  --comp-snackbar-success-background-color: var(--ref-color-green-20);
  --comp-snackbar-spacing: var(--ref-spacing-xs);
  --comp-snackbar-padding-vertical: var(--ref-spacing-xs);
  --comp-snackbar-padding-horizontal: var(--ref-spacing-sm);
  --comp-snackbar-text-color: var(--ref-color-grey-100);
  --comp-select-search-bar-bottom-link-border-top-color: var(--ref-color-grey-10);
  --comp-select-search-bar-bottom-link-padding-bottom: var(--ref-spacing-xxxs);
  --comp-select-search-bar-bottom-link-padding-top: var(--ref-spacing-xs);
  --comp-select-search-bar-bottom-link-padding-horizontal: var(--ref-spacing-sm);
  --comp-select-search-bar-bottom-link-margin-top: var(--ref-spacing-xs);
  --comp-select-search-bar-border-bottom-color: var(--ref-color-grey-10);
  --comp-select-search-bar-margin-bottom: var(--ref-spacing-xxs);
  --comp-select-search-bar-padding-bottom: var(--ref-spacing-xxs);
  --comp-select-search-bar-padding-horizontal: var(--ref-spacing-xxs);
  --comp-select-background-color: var(--ref-color-white);
  --comp-select-padding-vertical: var(--ref-spacing-xxs);
  --comp-select-separator-color: var(--ref-color-grey-10);
  --comp-select-separator-padding-vertical: var(--ref-spacing-xxs);
  --comp-select-separator-padding-horizontal: var(--ref-spacing-xxs);
  --comp-select-group-text-color: var(--ref-color-grey-100);
  --comp-select-group-selected-gap: var(--ref-spacing-xxs);
  --comp-select-group-background-color: var(--ref-color-grey-bg);
  --comp-select-group-border-top-color: var(--ref-color-grey-10);
  --comp-select-group-padding-vertical: var(--ref-spacing-xxs);
  --comp-select-group-padding-horizontal: var(--ref-spacing-sm);
  --comp-select-two-line-caption-text-color: var(--ref-color-grey-80);
  --comp-select-two-line-title-spacing: var(--ref-spacing-xxs);
  --comp-select-two-line-title-text-color: var(--ref-color-grey-100);
  --comp-select-two-line-padding-vertical: var(--ref-spacing-xxs);
  --comp-select-one-line-text-color: var(--ref-color-grey-100);
  --comp-select-one-line-background-color: var(--ref-color-white);
  --comp-select-one-line-padding-horizontal: var(--ref-spacing-sm);
  --comp-select-one-line-spacing: var(--ref-spacing-xxs);
  --comp-select-one-line-height: var(--ref-spacing-xl);
  --comp-select-inline-separator-color: var(--ref-color-grey-40);
  --comp-select-icon-focused-color: var(--ref-color-electric-blue-100);
  --comp-link-spacing: var(--ref-spacing-xxxs);
  --comp-link-visited-color: var(--ref-color-purple-150);
  --comp-label-closable-spacing: var(--ref-spacing-xxxs);
  --comp-label-padding-right: var(--ref-spacing-xxs);
  --comp-label-padding-left: var(--ref-spacing-xxs);
  --comp-label-height: var(--ref-spacing-md);
  --comp-label-background-color: var(--ref-color-electric-blue-20);
  --comp-label-border-radius: var(--ref-spacing-md);
  --comp-text-area-text-placeholder-color: var(--ref-color-grey-60);
  --comp-text-area-text-disabled-color: var(--ref-color-grey-80);
  --comp-text-area-icon-color: var(--ref-color-grey-60);
  --comp-text-area-fill-disabled-color: var(--ref-color-grey-20);
  --comp-text-area-fill-color: var(--ref-color-white);
  --comp-text-area-border-disabled-color: var(--ref-color-grey-20);
  --comp-text-area-border-success-color: var(--ref-color-green-100);
  --comp-text-area-border-hover-color: var(--ref-color-grey-80);
  --comp-text-area-border-default-color: var(--ref-color-grey-60);
  --comp-text-area-spacing-horizontal: var(--ref-spacing-xxs);
  --comp-text-area-padding-horizontal: var(--ref-spacing-xs);
  --comp-forms-status-spacing-vertical: var(--ref-spacing-xxxs);
  --comp-forms-status-icon-success-color: var(--ref-color-green-100);
  --comp-forms-status-icon-error-color: var(--ref-color-red-100);
  --comp-forms-label-padding-bottom: var(--ref-spacing-xxs);
  --comp-forms-label-spacing-vertical: var(--ref-spacing-xxxs);
  --comp-input-text-placeholder-color: var(--ref-color-grey-60);
  --comp-input-text-disabled-color: var(--ref-color-grey-80);
  --comp-input-icon-color: var(--ref-color-grey-60);
  --comp-input-fill-disabled-color: var(--ref-color-grey-20);
  --comp-input-fill-color: var(--ref-color-white);
  --comp-input-border-disabled-color: var(--ref-color-grey-20);
  --comp-input-border-success-color: var(--ref-color-green-100);
  --comp-input-border-hover-color: var(--ref-color-grey-40);
  --comp-input-border-default-color: var(--ref-color-grey-20);
  --comp-input-spacing-horizontal: var(--ref-spacing-xxs);
  --comp-input-padding-horizontal: var(--ref-spacing-xs);
  --comp-infobox-feature-lock-icon-color: var(--ref-color-purple-150);
  --comp-infobox-feature-lock-border-left-color: var(--ref-color-purple-150);
  --comp-infobox-feature-lock-background-color: var(--ref-color-purple-20);
  --comp-infobox-success-icon-color: var(--ref-color-green-150);
  --comp-infobox-success-border-left-color: var(--ref-color-green-150);
  --comp-infobox-success-background-color: var(--ref-color-green-20);
  --comp-infobox-info-icon-color: var(--ref-color-electric-blue-150);
  --comp-infobox-info-border-left-color: var(--ref-color-electric-blue-150);
  --comp-infobox-info-background-color: var(--ref-color-electric-blue-20);
  --comp-infobox-warning-icon-color: var(--ref-color-tag-orange-150);
  --comp-infobox-warning-border-left-color: var(--ref-color-tag-orange-150);
  --comp-infobox-warning-background-color: var(--ref-color-tag-orange-20);
  --comp-infobox-error-icon-color: var(--ref-color-red-150);
  --comp-infobox-error-border-left-color: var(--ref-color-red-150);
  --comp-infobox-error-background-color: var(--ref-color-red-20);
  --comp-infobox-gap: var(--ref-spacing-xs);
  --comp-infobox-button-margin-left: var(--ref-spacing-xxs);
  --comp-infobox-button-margin-right: var(--ref-spacing-xxs);
  --comp-infobox-padding-top: var(--ref-spacing-xs);
  --comp-infobox-padding-bottom: var(--ref-spacing-xs);
  --comp-infobox-padding-left: var(--ref-spacing-sm);
  --comp-infobox-padding-right: var(--ref-spacing-xs);
  --comp-infobox-border-radius: var(--ref-border-radius-sm);
  --comp-infobox-border-width: var(--ref-spacing-xxxs);
  --comp-icon-button-height: var(--sys-icon-button-height);
  --comp-icon-button-width: var(--sys-icon-button-width);
  --comp-icon-button-padding: var(--sys-icon-button-padding);
  --comp-dot-stepper-spacing: var(--ref-spacing-xxs);
  --comp-dot-stepper-dot-inactive-border-color: var(--ref-color-grey-40);
  --comp-dot-stepper-dot-inactive-focused-background-color: var(--ref-color-electric-blue-60);
  --comp-dot-stepper-dot-inactive-clicked-background-color: var(--ref-color-electric-blue-100);
  --comp-dot-stepper-dot-inactive-hovered-background-color: var(--ref-color-electric-blue-60);
  --comp-dot-stepper-dot-active-background-color: var(--ref-color-electric-blue-150);
  --comp-counter-grey-with-background-background-color: var(--ref-color-grey-10);
  --comp-counter-grey-color: var(--ref-color-grey-100);
  --comp-counter-blue-with-background-background-color: var(--ref-color-electric-blue-10);
  --comp-counter-blue-color: var(--ref-color-electric-blue-150);
  --comp-counter-orange-with-background-color: var(--ref-color-white);
  --comp-counter-orange-color: var(--ref-color-orange-150);
  --comp-counter-notif-color: var(--ref-color-white);
  --comp-counter-notif-min-width: var(--ref-font-line-height-xs);
  --comp-counter-notif-border-radius: var(--ref-font-line-height-xs);
  --comp-counter-height: var(--ref-font-line-height-xs);
  --comp-counter-big-height: var(--ref-font-line-height-sm);
  --comp-close-button-padding: var(--sys-icon-button-padding);
  --comp-button-spacing: var(--ref-spacing-xxs);
  --comp-button-height: var(--sys-button-height);
  --comp-button-padding-vertical: var(--ref-spacing-sm);
  --comp-button-padding-horizontal: var(--ref-spacing-xxs);
  --comp-badge-blue-background-color: var(--ref-color-electric-blue-10);
  --comp-badge-orange-color: var(--ref-color-white);
  --comp-badge-height: var(--ref-font-line-height-xs);
  --comp-avatar-online-border-color: var(--ref-color-white);
  --comp-avatar-online-background: var(--ref-color-green-100);
  --comp-avatar-initials-color: var(--ref-color-white);
  --comp-avatar-initials-weight: var(--ref-font-weight-bold);
  --comp-avatar-symbol-color: var(--ref-color-white);
  --comp-avatar-background-shadow: 0 0 0 1px var(--ref-color-grey-10);
  --comp-avatar-background-color: var(--ref-color-grey-40);
  --comp-action-dropdown-divider-margin: var(--ref-spacing-xxs) 0;
  --comp-action-dropdown-divider-color: var(--ref-color-grey-10);
  --comp-action-dropdown-item-description-color: var(--ref-color-grey-80);
  --comp-action-dropdown-item-label-spacing: var(--ref-spacing-xxs);
  --comp-action-dropdown-item-icon-spacing: var(--ref-spacing-xxs);
  --comp-action-dropdown-item-background-color-feature-lock-focused: var(--ref-color-purple-20);
  --comp-action-dropdown-item-background-color-feature-lock-hover: var(--ref-color-purple-10);
  --comp-action-dropdown-item-background-color-red-mode-focused: var(--ref-color-red-20);
  --comp-action-dropdown-item-background-color-red-mode-hover: var(--ref-color-red-10);
  --comp-action-dropdown-item-background-color-focused: var(--ref-color-electric-blue-20);
  --comp-action-dropdown-item-background-color-hover: var(--ref-color-electric-blue-10);
  --comp-action-dropdown-item-background-color: var(--ref-color-white);
  --comp-action-dropdown-item-text-color-red-mode: var(--ref-color-red-150);
  --comp-action-dropdown-item-text-color: var(--ref-color-grey-100);
  --comp-action-dropdown-item-padding: var(--ref-spacing-xxs) var(--ref-spacing-sm);
  --comp-action-dropdown-padding: var(--ref-spacing-xxs) 0;
  --comp-action-dropdown-background-color: var(--ref-color-white);
  --sys-text-style-caption-bold-line-height: var(--ref-font-line-height-xs);
  --sys-text-style-caption-bold-weight: var(--ref-font-weight-bold);
  --sys-text-style-caption-bold-size: var(--ref-font-size-xs);
  --sys-text-style-caption-bold-font-family: var(--ref-font-family);
  --sys-text-style-caption-line-height: var(--ref-font-line-height-xs);
  --sys-text-style-caption-weight: var(--ref-font-weight-regular);
  --sys-text-style-caption-size: var(--ref-font-size-xs);
  --sys-text-style-caption-font-family: var(--ref-font-family);
  --sys-text-style-body-bold-line-height: var(--ref-font-line-height-sm);
  --sys-text-style-body-bold-weight: var(--ref-font-weight-bold);
  --sys-text-style-body-bold-size: var(--ref-font-size-sm);
  --sys-text-style-body-bold-font-family: var(--ref-font-family);
  --sys-text-style-body-line-height: var(--ref-font-line-height-sm);
  --sys-text-style-body-weight: var(--ref-font-weight-regular);
  --sys-text-style-body-size: var(--ref-font-size-sm);
  --sys-text-style-body-font-family: var(--ref-font-family);
  --sys-text-style-h4-line-height: var(--ref-font-line-height-md);
  --sys-text-style-h4-weight: var(--ref-font-weight-bold);
  --sys-text-style-h4-size: var(--ref-font-size-sm);
  --sys-text-style-h4-font-family: var(--ref-font-family);
  --sys-text-style-h3-line-height: var(--ref-font-line-height-lg);
  --sys-text-style-h3-weight: var(--ref-font-weight-bold);
  --sys-text-style-h3-size: var(--ref-font-size-md);
  --sys-text-style-h3-font-family: var(--ref-font-family);
  --sys-text-style-subtitle-line-height: var(--ref-font-line-height-md);
  --sys-text-style-subtitle-weight: var(--ref-font-weight-regular);
  --sys-text-style-subtitle-size: var(--ref-font-size-md);
  --sys-text-style-subtitle-font-family: var(--ref-font-family);
  --sys-text-style-h2-line-height: var(--ref-font-line-height-lg);
  --sys-text-style-h2-weight: var(--ref-font-weight-bold);
  --sys-text-style-h2-size: var(--ref-font-size-lg);
  --sys-text-style-h2-font-family: var(--ref-font-family);
  --sys-text-style-h1-line-height: var(--ref-font-line-height-xl);
  --sys-text-style-h1-weight: var(--ref-font-weight-bold);
  --sys-text-style-h1-size: var(--ref-font-size-xxl);
  --sys-text-style-h1-font-family: var(--ref-font-family);
  --sys-text-style-marketing-line-height: var(--ref-font-line-height-xxl);
  --sys-text-style-marketing-weight: var(--ref-font-weight-extra-bold);
  --sys-text-style-marketing-size: var(--ref-font-size-xxl);
  --sys-text-style-marketing-font-family: var(--ref-font-family);
  --sys-text-style-h0-line-height: var(--ref-font-line-height-xxl);
  --sys-text-style-h0-weight: var(--ref-font-weight-black);
  --sys-text-style-h0-size: var(--ref-font-size-xl);
  --sys-text-style-h0-font-family: var(--ref-font-family);
  --sys-text-color-error: var(--ref-color-red-100);
  --sys-text-color-light: var(--ref-color-grey-80);
  --sys-text-color-default: var(--ref-color-grey-100);
  --sys-settings-card-feature-lock-border-color: var(--ref-color-purple-20);
  --sys-settings-card-feature-background-color: var(--ref-color-purple-10);
  --sys-settings-card-internal-padding: var(--ref-spacing-sm);
  --sys-settings-card-background-color: var(--ref-color-white);
  --sys-settings-card-border-radius: var(--ref-border-radius-md);
  --sys-settings-card-border-color: var(--ref-color-grey-10);
  --sys-settings-content-background-color: var(--ref-color-grey-bg);
  --sys-settings-content-vertical-spacing: var(--ref-spacing-sm);
  --sys-settings-content-internal-margin: var(--ref-spacing-md);
  --sys-radio-transition-duration: var(--ref-transition-duration);
  --sys-icon-md: var(--ref-font-size-md);
  --sys-icon-sm: var(--ref-font-size-sm);
  --sys-color-feature-lock-text: var(--ref-color-purple-100);
  --sys-color-feature-lock-light-text: var(--ref-color-purple-150);
  --sys-color-feature-lock-light-bg: var(--ref-color-purple-10);
  --sys-color-feature-lock-default-text: var(--ref-color-white);
  --sys-color-feature-lock-default-bg-disabled: var(--ref-color-purple-20);
  --sys-color-feature-lock-default-bg-clicked: var(--ref-color-purple-60);
  --sys-color-feature-lock-default-bg-hover: var(--ref-color-purple-80);
  --sys-color-feature-lock-default-bg-default: var(--ref-color-purple-100);
  --sys-color-success-text: var(--ref-color-green-100);
  --sys-color-success-light-text: var(--ref-color-green-150);
  --sys-color-success-light-bg: var(--ref-color-green-10);
  --sys-color-success-default-text: var(--ref-color-white);
  --sys-color-success-default-bg-disabled: var(--ref-color-green-20);
  --sys-color-success-default-bg-clicked: var(--ref-color-green-60);
  --sys-color-success-default-bg-hover: var(--ref-color-green-80);
  --sys-color-success-default-bg-default: var(--ref-color-green-100);
  --sys-color-warning-text: var(--ref-color-yellow-100);
  --sys-color-warning-light-text: var(--ref-color-yellow-150);
  --sys-color-warning-light-bg: var(--ref-color-yellow-10);
  --sys-color-warning-default-text: var(--ref-color-white);
  --sys-color-warning-default-bg-disabled: var(--ref-color-yellow-20);
  --sys-color-warning-default-bg-clicked: var(--ref-color-yellow-60);
  --sys-color-warning-default-bg-hover: var(--ref-color-yellow-80);
  --sys-color-warning-default-bg-default: var(--ref-color-yellow-100);
  --sys-color-error-text: var(--ref-color-red-100);
  --sys-color-error-light-text: var(--ref-color-red-150);
  --sys-color-error-light-bg: var(--ref-color-red-10);
  --sys-color-error-default-text: var(--ref-color-white);
  --sys-color-error-default-bg-disabled: var(--ref-color-red-20);
  --sys-color-error-default-bg-clicked: var(--ref-color-red-60);
  --sys-color-error-default-bg-hover: var(--ref-color-red-80);
  --sys-color-error-default-bg-default: var(--ref-color-red-100);
  --sys-color-accent-text: var(--ref-color-electric-blue-100);
  --sys-color-accent-light-text: var(--ref-color-electric-blue-150);
  --sys-color-accent-light-bg: var(--ref-color-electric-blue-05);
  --sys-color-accent-default-text: var(--ref-color-white);
  --sys-color-accent-default-bg-disabled: var(--ref-color-electric-blue-20);
  --sys-color-accent-default-bg-clicked: var(--ref-color-electric-blue-60);
  --sys-color-accent-default-bg-hover: var(--ref-color-electric-blue-80);
  --sys-color-accent-default-bg-default: var(--ref-color-electric-blue-100);
  --sys-color-main-text: var(--ref-color-orange-100);
  --sys-color-main-light-text: var(--ref-color-orange-150);
  --sys-color-main-light-bg: var(--ref-color-orange-10);
  --sys-color-main-default-text: var(--ref-color-white);
  --sys-color-main-default-bg-disabled: var(--ref-color-orange-20);
  --sys-color-main-default-bg-clicked: var(--ref-color-orange-60);
  --sys-color-main-default-bg-hover: var(--ref-color-orange-80);
  --sys-color-main-default-bg-default: var(--ref-color-orange-100);
  --sys-border-radius-lg: var(--ref-border-radius-md);
  --sys-border-radius-md: var(--ref-border-radius-sm);
  --sys-border-radius-sm: var(--ref-border-radius-sm);
  --sys-border-color-error: var(--ref-color-red-100);
  --sys-border-color-active: var(--ref-color-electric-blue-100);
  --sys-border-color-default: var(--ref-color-grey-10);
  --comp-tooltip-text-default-color: var(--sys-color-accent-default-text);
  --comp-tooltip-text-style-line-height: var(--sys-text-style-body-line-height);
  --comp-tooltip-text-style-weight: var(--sys-text-style-body-weight);
  --comp-tooltip-text-style-size: var(--sys-text-style-body-size);
  --comp-tooltip-text-style-font-family: var(--sys-text-style-body-font-family);
  --comp-tag-text-style-line-height: var(--sys-text-style-body-line-height);
  --comp-tag-text-style-font-weight: var(--sys-text-style-body-weight);
  --comp-tag-text-style-size: var(--sys-text-style-body-size);
  --comp-tag-text-style-font-family: var(--sys-text-style-body-font-family);
  --comp-tabs-tab-focus-border-radius: var(--sys-border-radius-sm);
  --comp-tabs-tab-line-height: var(--sys-text-style-body-line-height);
  --comp-tabs-tab-font-size: var(--sys-text-style-body-size);
  --comp-status-line-height: var(--sys-text-style-caption-line-height);
  --comp-status-font-size: var(--sys-text-style-caption-size);
  --comp-status-font-family: var(--sys-text-style-caption-font-family);
  --comp-status-text-style-line-height: var(--sys-text-style-caption-line-height);
  --comp-status-text-style-font-weight: var(--sys-text-style-caption-weight);
  --comp-status-text-style-size: var(--sys-text-style-caption-size);
  --comp-status-text-style-font-family: var(--sys-text-style-caption-font-family);
  --comp-status-card-caption-text-style-line-height: var(--sys-text-style-caption-bold-line-height);
  --comp-status-card-caption-text-style-font-weight: var(--sys-text-style-caption-bold-weight);
  --comp-status-card-caption-text-style-size: var(--sys-text-style-caption-bold-size);
  --comp-status-card-caption-text-style-font-family: var(--sys-text-style-caption-bold-font-family);
  --comp-status-card-user-text-style-line-height: var(--sys-text-style-caption-bold-line-height);
  --comp-status-card-user-text-style-font-weight: var(--sys-text-style-caption-bold-weight);
  --comp-status-card-user-text-style-size: var(--sys-text-style-caption-bold-size);
  --comp-status-card-user-text-style-font-family: var(--sys-text-style-caption-bold-font-family);
  --comp-status-card-text-style-line-height: var(--sys-text-style-caption-line-height);
  --comp-status-card-text-style-font-weight: var(--sys-text-style-caption-weight);
  --comp-status-card-text-style-size: var(--sys-text-style-caption-size);
  --comp-status-card-text-style-font-family: var(--sys-text-style-caption-font-family);
  --comp-split-button-border-radius: var(--sys-border-radius-md);
  --comp-split-button-text-line-height: var(--sys-text-style-h4-line-height);
  --comp-split-button-text-weight: var(--sys-text-style-h4-weight);
  --comp-split-button-text-font-family: var(--sys-text-style-h4-font-family);
  --comp-split-button-text-size: var(--sys-text-style-h4-size);
  --comp-snackbar-border-radius: var(--sys-border-radius-lg);
  --comp-snackbar-text-style-line-height: var(--sys-text-style-body-line-height);
  --comp-snackbar-text-style-font-weight: var(--sys-text-style-body-weight);
  --comp-snackbar-text-style-size: var(--sys-text-style-body-size);
  --comp-snackbar-text-style-font-family: var(--sys-text-style-body-font-family);
  --comp-select-group-text-line-height: var(--sys-text-style-caption-bold-line-height);
  --comp-select-group-text-font-weight: var(--sys-text-style-caption-bold-weight);
  --comp-select-group-text-size: var(--sys-text-style-caption-bold-size);
  --comp-select-group-text-font-family: var(--sys-text-style-caption-bold-font-family);
  --comp-select-two-line-caption-text-line-height: var(--sys-text-style-caption-line-height);
  --comp-select-two-line-caption-text-font-weight: var(--sys-text-style-caption-weight);
  --comp-select-two-line-caption-text-size: var(--sys-text-style-caption-size);
  --comp-select-two-line-caption-text-font-family: var(--sys-text-style-caption-font-family);
  --comp-select-two-line-title-text-line-height: var(--sys-text-style-body-bold-line-height);
  --comp-select-two-line-title-text-font-weight: var(--sys-text-style-body-bold-weight);
  --comp-select-two-line-title-text-size: var(--sys-text-style-body-bold-size);
  --comp-select-two-line-title-text-font-family: var(--sys-text-style-body-bold-font-family);
  --comp-select-one-line-selectable-selected-text-line-height: var(--sys-text-style-body-bold-line-height);
  --comp-select-one-line-selectable-selected-text-font-weight: var(--sys-text-style-body-bold-weight);
  --comp-select-one-line-selectable-selected-text-size: var(--sys-text-style-body-bold-size);
  --comp-select-one-line-selectable-selected-text-font-family: var(--sys-text-style-body-bold-font-family);
  --comp-select-one-line-selected-text-line-height: var(--sys-text-style-body-bold-line-height);
  --comp-select-one-line-selected-text-font-weight: var(--sys-text-style-body-bold-weight);
  --comp-select-one-line-selected-text-size: var(--sys-text-style-body-bold-size);
  --comp-select-one-line-selected-text-font-family: var(--sys-text-style-body-bold-font-family);
  --comp-select-one-line-text-line-height: var(--sys-text-style-body-line-height);
  --comp-select-one-line-text-font-weight: var(--sys-text-style-body-weight);
  --comp-select-one-line-text-size: var(--sys-text-style-body-size);
  --comp-select-one-line-text-font-family: var(--sys-text-style-body-font-family);
  --comp-select-inline-label-text-color: var(--sys-text-color-light);
  --comp-select-inline-label-text-line-height: var(--sys-text-style-body-line-height);
  --comp-select-inline-label-text-font-weight: var(--sys-text-style-body-weight);
  --comp-select-inline-label-text-size: var(--sys-text-style-body-size);
  --comp-select-inline-label-text-font-family: var(--sys-text-style-body-font-family);
  --comp-radio-transition-duration: var(--sys-radio-transition-duration);
  --comp-link-icon-size: var(--sys-icon-md);
  --comp-link-disabled-color: var(--sys-color-accent-default-bg-disabled);
  --comp-link-clicked-color: var(--sys-color-accent-light-text);
  --comp-link-hover-color: var(--sys-color-accent-default-bg-hover);
  --comp-link-default-color: var(--sys-color-accent-light-text);
  --comp-link-standalone-small-text-style-line-height: var(--sys-text-style-caption-bold-line-height);
  --comp-link-standalone-small-text-style-font-weight: var(--sys-text-style-caption-bold-weight);
  --comp-link-standalone-small-text-style-size: var(--sys-text-style-caption-bold-size);
  --comp-link-standalone-small-text-style-font-family: var(--sys-text-style-caption-bold-font-family);
  --comp-link-standalone-default-text-style-line-height: var(--sys-text-style-body-bold-line-height);
  --comp-link-standalone-default-text-style-font-weight: var(--sys-text-style-body-bold-weight);
  --comp-link-standalone-default-text-style-size: var(--sys-text-style-body-bold-size);
  --comp-link-standalone-default-text-style-font-family: var(--sys-text-style-body-bold-font-family);
  --comp-link-big-text-style-line-height: var(--sys-text-style-subtitle-line-height);
  --comp-link-big-text-style-font-weight: var(--sys-text-style-subtitle-weight);
  --comp-link-big-text-style-size: var(--sys-text-style-subtitle-size);
  --comp-link-big-text-style-font-family: var(--sys-text-style-subtitle-font-family);
  --comp-link-small-text-style-line-height: var(--sys-text-style-caption-line-height);
  --comp-link-small-text-style-font-weight: var(--sys-text-style-caption-weight);
  --comp-link-small-text-style-size: var(--sys-text-style-caption-size);
  --comp-link-small-text-style-font-family: var(--sys-text-style-caption-font-family);
  --comp-link-text-line-height: var(--sys-text-style-body-line-height);
  --comp-link-text-font-weight: var(--sys-text-style-body-weight);
  --comp-link-text-size: var(--sys-text-style-body-size);
  --comp-link-text-font-family: var(--sys-text-style-body-font-family);
  --comp-label-text-color: var(--sys-text-color-default);
  --comp-label-text-style-line-height: var(--sys-text-style-body-line-height);
  --comp-label-text-style-font-weight: var(--sys-text-style-body-weight);
  --comp-label-text-style-size: var(--sys-text-style-body-size);
  --comp-label-text-style-font-family: var(--sys-text-style-body-font-family);
  --comp-text-area-text-default-color: var(--sys-text-color-default);
  --comp-text-area-text-line-height: var(--sys-text-style-body-line-height);
  --comp-text-area-text-font-weight: var(--sys-text-style-body-weight);
  --comp-text-area-text-size: var(--sys-text-style-body-size);
  --comp-text-area-text-font-family: var(--sys-text-style-body-font-family);
  --comp-text-area-icon-size: var(--sys-icon-md);
  --comp-text-area-border-error-color: var(--sys-border-color-error);
  --comp-text-area-border-focused-color: var(--sys-border-color-active);
  --comp-text-area-border-radius: var(--sys-border-radius-sm);
  --comp-forms-status-text-success-color: var(--sys-color-success-light-text);
  --comp-forms-status-text-error-color: var(--sys-color-error-text);
  --comp-forms-status-text-line-height: var(--sys-text-style-body-line-height);
  --comp-forms-status-text-font-weight: var(--sys-text-style-body-weight);
  --comp-forms-status-text-size: var(--sys-text-style-body-size);
  --comp-forms-status-text-font-family: var(--sys-text-style-body-font-family);
  --comp-forms-status-icon-size: var(--sys-icon-md);
  --comp-forms-label-description-text-color: var(--sys-text-color-light);
  --comp-forms-label-description-text-line-height: var(--sys-text-style-caption-line-height);
  --comp-forms-label-description-text-font-weight: var(--sys-text-style-caption-weight);
  --comp-forms-label-description-text-size: var(--sys-text-style-caption-size);
  --comp-forms-label-description-text-font-family: var(--sys-text-style-caption-font-family);
  --comp-forms-label-text-color: var(--sys-text-color-default);
  --comp-forms-label-line-height: var(--sys-text-style-body-line-height);
  --comp-forms-label-font-weight: var(--sys-text-style-body-weight);
  --comp-forms-label-size: var(--sys-text-style-body-size);
  --comp-forms-label-font-family: var(--sys-text-style-body-font-family);
  --comp-input-text-default-color: var(--sys-text-color-default);
  --comp-input-text-line-height: var(--sys-text-style-body-line-height);
  --comp-input-text-font-weight: var(--sys-text-style-body-weight);
  --comp-input-text-size: var(--sys-text-style-body-size);
  --comp-input-text-font-family: var(--sys-text-style-body-font-family);
  --comp-input-icon-size: var(--sys-icon-md);
  --comp-input-border-error-color: var(--sys-border-color-error);
  --comp-input-border-focused-color: var(--sys-border-color-active);
  --comp-input-border-radius: var(--sys-border-radius-sm);
  --comp-infobox-text-content-line-height: var(--sys-text-style-body-line-height);
  --comp-infobox-text-content-weight: var(--sys-text-style-body-weight);
  --comp-infobox-text-content-font-family: var(--sys-text-style-body-font-family);
  --comp-infobox-text-content-size: var(--sys-text-style-body-size);
  --comp-infobox-text-title-line-height: var(--sys-text-style-h3-line-height);
  --comp-infobox-text-title-weight: var(--sys-text-style-h3-weight);
  --comp-infobox-text-title-font-family: var(--sys-text-style-h3-font-family);
  --comp-infobox-text-title-size: var(--sys-text-style-h3-size);
  --comp-icon-button-border-radius: var(--sys-border-radius-lg);
  --comp-counter-orange-with-background-background-color: var(--sys-color-main-default-bg-default);
  --comp-counter-notif-background-color: var(--sys-color-main-default-bg-default);
  --comp-counter-big-text-style-line-height: var(--sys-text-style-body-bold-line-height);
  --comp-counter-big-text-style-font-weight: var(--sys-text-style-body-bold-weight);
  --comp-counter-big-text-style-size: var(--sys-text-style-body-bold-size);
  --comp-counter-big-text-style-font-family: var(--sys-text-style-body-bold-font-family);
  --comp-counter-text-style-line-height: var(--sys-text-style-caption-bold-line-height);
  --comp-counter-text-style-font-weight: var(--sys-text-style-caption-bold-weight);
  --comp-counter-text-style-size: var(--sys-text-style-caption-bold-size);
  --comp-counter-text-style-font-family: var(--sys-text-style-caption-bold-font-family);
  --comp-button-border-radius: var(--sys-border-radius-md);
  --comp-button-text-line-height: var(--sys-text-style-h4-line-height);
  --comp-button-text-weight: var(--sys-text-style-h4-weight);
  --comp-button-text-font-family: var(--sys-text-style-h4-font-family);
  --comp-button-text-size: var(--sys-text-style-h4-size);
  --comp-badge-blue-color: var(--sys-color-accent-light-text);
  --comp-badge-orange-background-color: var(--sys-color-main-default-bg-default);
  --comp-badge-text-style-line-height: var(--sys-text-style-caption-bold-line-height);
  --comp-badge-text-style-font-weight: var(--sys-text-style-caption-bold-weight);
  --comp-badge-text-style-size: var(--sys-text-style-caption-bold-size);
  --comp-badge-text-style-font-family: var(--sys-text-style-caption-bold-font-family);
  --comp-avatar-border-radius: var(--sys-border-radius-sm);
  --comp-action-dropdown-item-description-line-height: var(--sys-text-style-body-line-height);
  --comp-action-dropdown-item-description-size: var(--sys-text-style-caption-size);
  --comp-action-dropdown-item-text-line-height: var(--sys-text-style-body-line-height);
  --comp-action-dropdown-item-text-size: var(--sys-text-style-body-size);
  --comp-action-dropdown-border-radius: var(--sys-border-radius-sm);
}
